/* Основные стили для панели описания */
.description-panel {
  padding: 20px;
  max-width: 800px;
  margin: 150px auto;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
}

/* Заголовок */
.description-panel h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Изображение книги */
.description-panel img {
  width: 200px;
  height: auto;
  margin: 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Текст описания книги */
.description-panel p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.description-panel p strong {
  font-weight: bold;
}

/* Кнопка "Читать" */
.read-button {
  display: inline-block;
  background-color: #40ff06;
  color: #000000;
  font-size: 18px;
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px;
  transition: all 0.5s;
}

/* Кнопка "Предварительный просмотр" */
.preview-link {
  display: inline-block;
  background-color: #007bff;
  color: #000000;
  font-size: 18px;
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px;
  transition: all 0.5s;
}

/* Эффект при наведении на кнопки */
.read-button:hover,
.preview-link:hover {
  opacity: 0.9;
}

/* Эффект при нажатии на кнопки */
.read-button:active,
.preview-link:active {
  opacity: 0.4;
}

/* Стили для ссылки при наведении */
.description-panel a:hover {
  text-decoration: underline;
}

/* Кнопка "Назад" */
.back-button {
  background-color: #ff2f2f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.5s;
}

/* Эффект при наведении на кнопку "Назад" */
.back-button:hover {
  opacity: 0.9;
}

/* Эффект при нажатии на кнопку "Назад" */
.back-button:active {
  opacity: 0.4;
}


@media (max-width: 600px) {
  /* Основные стили для панели описания */
.description-panel {
  padding: 20px;
  max-width: 80%;
  margin: 150px auto;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
}

/* Заголовок */
.description-panel h1 {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

/* Изображение книги */
.description-panel img {
  width: 200px;
  height: auto;
  margin: 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description-panel p {
  font-size: 12;
  line-height: 1.2;
  margin-bottom: 10px;
}

.description-panel p strong {
  font-weight: bold;
}

/* Кнопка "Читать" */
.read-button {
  display: inline-block;
  background-color: #40ff06;
  color: #000000;
  font-size: 16px;
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px;
  transition: all 0.5s;
}

/* Кнопка "Предварительный просмотр" */
.preview-link {
  display: inline-block;
  background-color: #007bff;
  color: #000000;
  font-size: 16px;
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 20px 20px 20px;
  transition: all 0.5s;
}

/* Эффект при наведении на кнопки */
.read-button:hover,
.preview-link:hover {
  opacity: 0.9;
}

/* Эффект при нажатии на кнопки */
.read-button:active,
.preview-link:active {
  opacity: 0.4;
}

/* Стили для ссылки при наведении */
.description-panel a:hover {
  text-decoration: underline;
}

/* Кнопка "Назад" */
.back-button {
  background-color: #ff2f2f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.5s;
}

/* Эффект при наведении на кнопку "Назад" */
.back-button:hover {
  opacity: 0.9;
}

/* Эффект при нажатии на кнопку "Назад" */
.back-button:active {
  opacity: 0.4;
}
}