.footer__panel {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	background-color: #2c3e50;
	color: #fff;
	padding: 20px;
	gap: 20px;
}

.sait__info,
.creator__info {
	flex: 1;
	min-width: 250px;
}

.footer__title {
	font-size: 1.5em;
	margin-bottom: 10px;
	border-bottom: 2px solid #cafeff;
	padding-bottom: 5px;
}

.footer__buttons {
	display: flex;
	gap: 10px;
}

.footer__button {
	background: none;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	color: #fff;
	padding: 5px 10px;
	transition: all 0.3s ease-in-out;
}

.footer__button:hover {
	color: #cafeff;
}

.footer__button:active {
opacity: 0.5;
}

.footer__phone {
	margin-top: 10px;
}

.footer__description {
	font-size: 0.9em;
}

.footer__divider {
	width: 1px;
	background-color: #fff;
	height: auto; /* Высота автоматически подстраивается под контент */
}

.creator__info {
	text-align: left; /* Выравнивание текста по левому краю */
}

.creator__line {
	margin-top: 15px;
}

.creator__contact-title {
	font-size: 1.2em;
	margin-bottom: 5px;
}

.creator__text {
	font-size: 0.9em;
}

.creator__link {
	color: #8efdff; /* Цвет ссылки */
	text-decoration: none; /* Убираем подчеркивание */
}

.creator__link:hover {
	text-decoration: underline; /* Подчеркивание при наведении */
}

.creator__link:active {
	opacity: 0.5;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
	.footer__panel {
			flex-direction: column; 
			align-items: center;
			text-align: center; 
			gap: 30px;
	}

	.sait__info,
	.creator__info {
			min-width: unset; /* Убираем минимальную ширину для адаптации на маленьких экранах */
			width: 100%; /* Секции занимают всю ширину экрана */
	}
}